params {
    input_sample = ''
    codice = ''
    config_yaml = 'config_pipeline.yml'
    bowtie2_db = '/main/data/gene/Bos_taurus/Bos_taurus'
}

process.executor = 'local'
docker.enabled = true

process {
  cpus   = 4
  memory = '8 GB'
  scratch = true

  container = 'metacheese:latest'

}

hpc-interactive {

    // Executor dello scheduler (cambia se non usi SLURM)
    process.executor  = 'slurm'

    // Docker abilitato sul cluster
    docker.enabled    = true

    process {
      // Limita il numero massimo di task concorrenti per processo
      queueSize = 50
      
    }

    withName: SPADES {
      label 'heavy'
      cpus   = 16
      memory = '120 GB'
      time   = '24h'
    }
    withName: METABAT {
      cpus   = 8
      memory = '32 GB'
      time   = '12h'
    }
    withName: CHECKM_LINEAGE_WF {
      cpus   = 8
      memory = '64 GB'
      time   = '24h'
    }
    withName: CHECKM2_PREDICT {
      cpus   = 8
      memory = '64 GB'
      time   = '24h'
    }
    withName: HUMANN_SAMPLE {
      cpus   = 6
      memory = '24 GB'
      time   = '12h'
    }
    withName: METAPHLAN_SAMPLE {
      cpus   = 4
      memory = '8 GB'
      time   = '6h'
    }

}